{% extends "main.html" %}
{% block article %}
    {% if username %}    
        <div class="row justify-content-md-center">
            <div class="col col-sm-6">
                <form action="/article/add" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-group">                                    
                            <label for="{{form.article_title.id_for_label}}">Заголовок статьи:</label>
                            <input class="form-control" id="{{form.article_title.id_for_label}}" name="{{form.article_title.html_name}}"/>
                        </div>
                        <div class="form-group">                                    
                            <label for="{{form.article_text.id_for_label}}">Текст статьи</label>
                            <textarea class="form-control" id="{{form.article_text.id_for_label}}" name="{{form.article_text.html_name}}" rows="10" cols="40"></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Добавить статью">
                </form> 
            </div>
        </div>
    {% else %}
        <p>Только авторизованные пользователи могут добавлять статьи</p>
        <a href="/auth/login" class="button radius large">Авторизироваться</a>
    {% endif %}
{% endblock article %}