{% extends "main.html" %}
{% load staticfiles %}
{% block articles %}
<div class="row">
    <div class="col-11 col-md-6 offset-1">
        <h2>
            Дымные вести
        </h2>
        {% for article in articles %}
        <div class="bg-white shadow p-3 mb-1 bg-white rounded">  
            <h5>
                <a href="/article/get/{{ article.id }}" title="{{article.article_title}}">{{article.article_title}}</a>
                <small class="text-secondary text-right">{{article.article_date}}</small>
            </h5>
            <p class="text-justify">{{article.article_text}}</p>
            <a href="/article/addlike/{{ article.id }}" title="добавить лайт"> <img src="{% static "thumbs-up-icon.png"%}" width = "20px"/></a>{{article.article_likes}}
        </div>    
        {% endfor %}
                
    </div>
    <div class="col d-none d-md-block">
        <div id="sticky-anchor"></div>
            <div class="sticky right">
            <a href="/article/add" class="btn btn-primary shadow">+ Добавить статью</a>   
        </div>            
    </div>
    <div class="col col-md-6">
        <nav>
            <ul class="pagination justify-content-center m-3">
                {% if articles.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="/page/{{ articles.previous_page_number }}">Previous</a>        
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" > Previous</span>        
                    </li>
                {% endif %}
                {% for page in pages %}
                    {% if page == articles.number %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{page}}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/page/{{ page }}">{{ page }}</a></li>
                    {% endif %}    
                {% endfor %}
                {% if articles.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="/page/{{ articles.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" >Next</span>        
                    </li>
                {% endif %}    
            </ul>
        </nav>
    </div>  
</div>
<a href="/article/add" class=" d-block d-md-none addbutton btn rounded-circle btn-lg btn-primary ">+</a>

  
{% endblock articles %}    
{% block script %}
    <script src="{% static "js/sticky-button.js"%}"></script>
{% endblock script %}