{% extends "main.html" %}
{% block article %}
 
    <div class="col col-md-6 offset-1">
        <h4> 
            <a href="/article/get/{{ article.id }}">{{article.article_title}}</a>
        
        <div class="float-right"> <h6><small>{{article.article_date}}</small> </h6> </div>
    </div>

    <div class="col-11 col-md-6 offset-1 ">
        <div class="bg-white rounded bordered my-1 p-1 p-3">
       {{article.article_text}}
       
    </div>
        <hr>        
        {%if not comments %}

            <p>Еше никто не оставил комментарий к данной статье</p>
        {% endif %}

        {% for comment in comments %}     
        <div class="col bg-white rounded bordered my-1 p-1 shadow-sm">        
            <h6>
                <b><a href="#">{{ comment.comments_user.username}}</a></b> <small class="text-secondary">{{ comment.comments_date}}</small>
            </h6>
            <p class="h6 mx-3"><small>{{comment.comments_text}}</small></p> 
        </div>
        {% endfor %}

        {% if username %}
            <form action="/article/addcoment/{{ article.id }}" method="POST">
                <div class="form-group ">
                {% csrf_token %}
                <label for="id_comments_text">Comments text:</label>
                <textarea class="form-control shadow" name="comments_text" id="id_comments_text" rows="3"></textarea>
                <button type="submit" class="btn btn-primary shadow mt-3">Добавить комментирй</button>
            </div>
            </form>
        {% else %}
            <p>Только авторизированные пользователи могут оставлять комментарии</p>
            <a href="/auth/login" class="btn btn-primary shadow">Авторизироваться</a>
        {% endif %}
    </div>   

{% endblock article %}