{% extends 'main.html' %}

{% block login %}
<div class="row justify-content-md-center">
    <div class="col-5">
        <div class="form-group">
            <form action='/auth/login' method='post'>
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col col-form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="User">
                </div>                   
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Пароль</label>                   
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                {% if login_error %}
                <div class="alert alert-warning" role="alert">
                    {{login_error}}
                </div>
                {% endif %}
                <input class="btn btn-primary" type="submit" value="Войти">
                <a class="btn btn-primary" href="/auth/register">Регистрация</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}