{% extends "main.html" %}
{% load staticfiles %}
{% block login %}
<div class="row justify-content-md-center">
    <div class="col-5">
    <form action='/auth/register' method='post'>{% csrf_token %}
        <div class="form-group">
            {% for field in form %}
                <div class="input-group row">
                    <label class="col-sm-6 col-form-label" for="{{field.id_for_label}}">{{ field.label_tag }}</label>
                    <br>
                    <div class="col-sm-10">
                        <input data-toggle="tooltip" data-placement="right" data-html="true" title="{{field.help_text}}" class="form-control" id="{{field.id_for_label}}" maxlength="30" name="{{field.html_name}}" type='{% if field.html_name == "username"%}text{%else%}password{%endif%}'/>
                    </div> 
                    {%if field.errors%}
                        <br>
                        <br>
                        <div class="alert alert-warning" role="alert">
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        </div>
                    {%endif%}            
                </div>
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="Зарегистрироватся"> 
        </div>
    </form>
    </div>
</div>
{% endblock login %}
{% block script %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            })
    </script>
{% endblock script %}