{% extends "main.html" %}
{% block article %}
<div class="row justify-content-md-center">
    <div class="col col-md-5">
    {% if username %}
        <form action="/tobacco/edit/{{tobacco.id}}" method="POST">
            {% csrf_token %}
            <div class="form-group">                    
                <label for="brand">Brand</label>
                <select class="form-control" id="brand" name="{{form.brand.html_name}}" id="{{form.brand.id_for_label}}">
                    {%for brand in brands%}
                        {%if tobacco.brand.id == brand.id%}
                            <option selected value={{brand.id}}>{{brand}}</option>
                        {%else%}
                            <option value={{brand.id}}>{{brand}}</option>  
                        {%endif%}                                      
                    {%endfor%}
                </select>
                <label for="taste">Taste kind</label>
                <select class="form-control" id="taste_kind" name="{{form.taste_kind.html_name}}" id="{{form.taste_kind.id_for_label}}">                                        
                    {%for taste in tastes%}
                        {%if tobacco.taste_kind.id == taste.id%}
                            <option selected value={{taste.id}}>{{taste}}</option>
                        {%else%}
                            <option value={{taste.id}}>{{taste}}</option>  
                        {%endif%}                                  
                    {%endfor%}
                </select>

                <label for="{{form.taste.id_for_label}}">{{ form.taste.label }}</label>                                
                <input class="form-control" id="{{form.taste.id_for_label}}" name="{{form.taste.html_name}}" value="{{tobacco.taste}}"/>

                <label for="{{form.img_src.id_for_label}}">{{ form.img_src.label }}</label>                                
                <input class="form-control" id="{{form.img_src.id_for_label}}" name="{{form.img_src.html_name}}" value="{{tobacco.img_src}}"/>

                <label for="{{form.description.id_for_label}}">{{ form.description.label }}</label>                                
                <textarea class="form-control" id="{{form.description.id_for_label}}" name="{{form.description.html_name}}">{{tobacco.description}}</textarea>                
                {% for field in form %}
                    {%if field.errors%}
                        <div class="alert alert-warning" role="alert">
                            {% for error in field.errors %}
                                <li>{{form.taste.label}} {{error}}</li>
                            {% endfor %}
                        </div>
                    {%endif%}  
                {% endfor %}
                <br>                
                <input class="btn btn-primary" type="submit" value="Изменить табак">
                <input class="btn btn-primary float-right" type="reset" value="Сбросить">
            </div>                
        </form> 
    {% else %}
        <p>Только авторизованные пользователи могут добавлять табакт</p>
        <a href="/auth/login" class="button radius large"> Авторизоватся</a>
    {% endif %}   
</div>
</div>
{% endblock article %}