{% extends "main.html" %}
{% load staticfiles %}

{% block tobaccos %}
<div class="row">
        <div class="col-12 col-md-5 offset-md-1">
            <h1 class="">                
                {{tobacco.brand.name}} 
                <br> 
                <small>{{tobacco.taste}}</small>
                <a href="/tobacco/edit/{{ tobacco.id }}" class="float-center"> 
                    <img src="{% static "img/pencil-edit-button.svg"%}" width = "50px" class="float-right p-1 btn btn-outline-white pen">
                </a>
            </h1>
            <hr>
    </div>
</div>
<div class="row ">   
    <div class="col-12 col-md-5 offset-md-1 mb-5">
        <img src="{{tobacco.img_src}}" height = "auto" width = "auto" style="max-height:450px; max-width:100%;" class="shadow rounded"/>
    </div>
    <div class="col col-md-4 ">
        {%if tobacco.description %}
        <div class="row bg-white align-self-baseline shadow-sm mb-5 rounded">
                <div class="col">
                    <h3>Описание:</h3>
                    <p>{{tobacco.description}}</p>
                </div>
        </div>
        {%endif%}
        <div class="row">
            <div class="col">                
                {%if username%}
                <form action="#" method="POST">
                    {% csrf_token %}
                    <div class="form-group">                    
                        <input type="range" name="rate"  min="1" max="5" value="3" class="slider" id="myRange">
                        Оценка: <span id="demo"></span>
                        <input type="submit" class="btn btn-primary shadow-sm" value="Оценить">                    
                    </div>                
                </form>
                {%endif%}                
                <table class="table table-light table-sm table-striped">
                    <thead class="bg-primary text-white">
                        <tr>
                        <th width="75">Пользователь</th>
                        <th width="150">Оценка</th>
                        </tr>
                    </thead>
                    <tbody>          
                    {% for rate in ratings %}
                        {%if username == rate.user_id.username %}
                            <tr class="bg-dark text-white">
                                <td> Я </td>
                                <td> {{rate.rating}}</td>
                            </tr>
                        {%else%}
                            <tr >
                                <td> {{rate.user_id.username }}</td>
                                <td> {{rate.rating}}</td>
                            </tr>
                        {%endif%}
                    {% endfor %}
                    </tbody>
                </table>                   
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col col-md-5 offset-1"> 
            <hr>
    </div>
    <div class="col-md-6"> 
    </div>
    <div class="col-11 col-md-5 offset-1 ">
        {%if not comments %}
            <p>Еше никто не оставил комментарий :(</p>
        {% endif %}
       
            {% for comment in comments %}
            <div class="col bg-white rounded bordered my-1 p-1 shadow-sm">            
                <h6>
                    <b><a href="#">{{ comment.user_id.username}}</a></b> 
                    <small class="text-secondary">{{ comment.date}}</small>
                </h6>
                <p class="h6 ml-3"><small>{{comment.text}}</small></p>
            </div>
            {% endfor %}
        
        {% if username %}
            <form action="/tobacco/addcoment/{{tobacco.id}}" method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="form-group shadow mt-3">                              
                        <textarea class="form-control" id="{{comments_form.text.id_for_label}}" name="{{comments_form.text.html_name}}" rows="2"/></textarea>                             
                    </div> 
                    <button type="submit" class="btn btn-primary shadow">Добавить комментирй</button>
                </div>
            </form>
        {% else %}
            <p>Только авторизированные пользователи могут оставлять комментарии</p>
            <a href="/auth/login" class="btn btn-primary">Авторизироваться</a>
        {% endif %}
    </div>
</div>
        
{% endblock tobaccos %}
{% block script %}
    <script>
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value
        
        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }
    </script>
{% endblock script %}
