{% extends "main.html" %}
{% block article %}
<div class="row justify-content-md-center">
    <div class="col col-md-5">
    {% if username %}
        <form action="/tobacco/add" method="POST">
            {% csrf_token %}
            <div class="form-group">
                    {% for field in form %}
                        {%if field.html_name == "brand" %}
                            <div class="form-group">                                    
                                <label for="brand">Brand</label>
                                <select class="form-control" id="brand" name="{{field.html_name}}" id="{{field.id_for_label}}">
                                        <option disabled selected >Выбрать брэнд</option>
                                    {%for brand in brands%}
                                        <option value={{brand.id}}>{{brand}}</option>                                    
                                    {%endfor%}
                                </select>                                
                            </div>
                        {%elif field.html_name == "taste_kind"%}
                            <div class="form-group">                                    
                                <label for="taste">Taste kind</label>
                                <select class="form-control" id="taste" name="{{field.html_name}}" id="{{field.id_for_label}}">
                                        <option disabled selected>Выбрать вкус</option>
                                    {%for taste in tastes%}
                                        <option value={{taste.id}}>{{taste}}</option>                                    
                                    {%endfor%}
                                </select>                                
                            </div>
                        {%elif field.html_name == "description"%}
                            <div class="form-group">
                                <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>                                
                                <textarea class="form-control" id="{{field.id_for_label}}" name="{{field.html_name}}"></textarea>                                
                            </div> 
                        {%else%}
                            <div class="form-group">
                                <label for="{{field.id_for_label}}">{{ field.label_tag }}</label>                                
                                <input class="form-control" id="{{field.id_for_label}}" name="{{field.html_name}}"/>                                
                            </div> 
                        {%endif%}
                        {%if field.errors%}
                            <br>
                            <br>
                            <div class="alert alert-warning" role="alert">
                                {% for error in field.errors %}
                                    <li>{{error}}</li>
                                {% endfor %}
                            </div>
                        {%endif%}  
                {% endfor %}
                <br>                
                <input class="btn btn-primary" type="submit" value="Добавить табак"> 
            </div>                
        </form> 
    {% else %}
        <p>Только авторизованные пользователи могут добавлять табакт</p>
        <a href="/auth/login" class="button radius large"> Авторизоватся</a>
    {% endif %}   
</div>
</div>
{% endblock article %}