{% extends "main.html" %}
{% load staticfiles %}
{% block tobaccos %}
<div class="row align-items-stretch" id="tobaccoTable">
    <div class="col-12 col-md-2 bg-white shadow mt-5 bg-white rounded align-self-baseline">           
        <a class="navbar-brand" href="#">Фильтры</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link {%if brand %}active {%endif%}" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >Брэнд </a>           
            <div id="collapseOne" class="collapse {%if brand %}show{%endif%}" aria-labelledby="headingOne"> 
                <nav class="nav nav-pills  flex-column">                    
                    {%for bran in brands%}
                    <div class="form-check">
                        <input type="checkbox" value="{{bran}}" v-model="brands" id="{{bran}}">
                        <label for="{{bran}}">{{bran}}</label>
                    </div>                                                       
                    {%endfor%}
                </nav>              
            </div>
            <a class="nav-link {%if taste %}active {%endif%}" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Вид вкуса</a>           
            <div id="collapseTwo" class="collapse {%if taste %}show{%endif%}" aria-labelledby="headingOne"> 
                <nav class="nav nav-pills flex-column">
                    {%for tast in tastes%}
                        <div class="form-check">
                            <input type="checkbox" value="{{tast}}" v-model="tastes" id="{{tast}}">
                            <label for="{{tast}}">{{tast}}</label>
                        </div>
                    {%endfor%}
                </nav>              
            </div>
        </nav>
    </div>
    
    <div class="col">
        <h2 class="p-1">Рейтинг табаков</h2>
        <form class="form-inline" action="javascript:void(0);">
            <input  name="query" v-model="searchQuery"  class="form-control rounded my-3 float-right" placeholder="Search">
        </form>
        <grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery"
            :filter-column="{'Брэнд':brands, 'Вид вкуса':tastes}">
        </grid>
        <grid-mobile
            :data="gridData"
            :columns="gridColumns"
            :mobile-columns = "gridMobileColumns"
            :filter-key="searchQuery"
            :filter-column="{'Брэнд':brands, 'Вид вкуса':tastes}">
        </grid-mobile>
    </div>
    <div class="col-md-3 d-none d-md-block">
        <div id="sticky-anchor"></div>
        <div class="sticky right">
            <a href="/tobacco/add" class=" btn btn-primary shadow">+ Добавить табак</a>   
        </div>
    </div>    
</div>  
<a href="/tobacco/add" class="d-block d-md-none addbutton btn rounded-circle btn-lg btn-primary ">+</a>    
{% endblock tobaccos %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/arrow.css"%}"/>
{% endblock style %}   
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> 
    <script src="{% static "js/tobaccoTable.js"%}"></script> 
    <script src="{% static "js/sticky-button.js"%}"></script>    
{% endblock script %}