{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css"%}"/>
    <title>Hooka Unity Inc.</title>
    <script src="{% static "js/yandexMetric.js"%}"></script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49815151" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/">
            <img title="Hooka Unity Inc." src="{% static "img/logo2.png"%}" width = "60px"/>           
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a  class="nav-link " href="/tobacco/" clas>Табачки</a>
                </li>            
            </ul>

            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                {% if username %}
                    <a class='nav-link' href="/auth/logout"> Выйти {{username}} </a>
                {% else %}
                    <a class= 'nav-link' href="/auth/login"> Войти </a>
                {% endif %} 
                </li>            
            </ul> 
        </div>
    </nav>    
    <div class="container-fluid bg-light">
        <br>
        {% block articles %}{% endblock articles %}
        {% block tobaccos %}{% endblock tobaccos %}     
        {% block article %}{% endblock article %}
        {% block login %}{% endblock login %}
    </div>
    {% block style %}{% endblock style %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
</body>
</html>